:root {
  --primary: rgb(190, 136, 37);
  --secondary: rgb(192, 118, 118);
  --dark: rgb(85, 24, 24);
  --light: rgb(239, 241, 243);
  --complimentary: rgb(184, 116, 96);
}
* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
.opaque {
  opacity: 0;
}
.hidden {
  display: none;
}
p {
  font-family: "Roboto", sans-serif;
  color: white;
}
.backgroundImage {
  position: fixed;
  bottom: -500px;
  width: 100%;
  height: 1000px;
  background-image: url(./img/smoke.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -5;
  opacity: 0.4;
}

/* HEADER */
h1 {
  text-align: center;
  font-size: 8rem;
  color: white;
  font-family: "MedievalSharp", cursive;
}
h2 {
  font-size: 6rem;
  color: white;
  font-family: "MedievalSharp", cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 4rem;
  color: white;
  font-family: "MedievalSharp", cursive;
}
h5 {
  font-size: 1.5rem;
  color: white;
  font-family: "MedievalSharp", cursive;
}
.shrink-h1 {
  font-size: 3rem;
  padding-top: 20px;
  transition: all 1s ease-in-out;
  color: rgba(214, 214, 214);
  z-index: 1;
}
.header {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  height: 95vh;
  padding-bottom: 5rem;
  transition: all 1s ease-in-out;
  background-image: url(./img/background.jpg);
}
.shrink-header {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  height: 8vh;
  transition: all 1s ease-in-out;
  background-image: url(./img/background.jpg);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: ease-in-out 1s;
}

/* BATTLEFIELD */
#battleground {
  margin: auto;
  width: 900px;
  block-size: fit-content;
  height: 700px;
  background-image: url(./img/battleground.jpg);
  background-size: 60%;
  border: solid 10px rgba(0, 0, 0);
  box-shadow: inset 50px 50px 100px rgb(0, 0, 0),
    inset -50px -50px 100px rgb(0, 0, 0);

  z-index: 0;

  margin-top: 30px;
}

/* BUTTONS */
.button {
  box-sizing: border-box;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark);
  color: var(--light);
  font-family: "Montserrat", sans-serif;
  border: none;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  border-radius: 100px;
  margin-top: 5px;
  transition: all ease-out 0.7s;
}
.button:hover {
  box-sizing: border-box;
  background-color: rgba(190, 37, 45, 0.5);
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
#active {
  display: none;
}

/* PROFILE/LOGIN STUFF */
.login-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 350px;
  z-index: 100;
  bottom: 300px;
  opacity: 1;
  transition: ease-in-out 2s;
}
.scoreboard-container {
  position: absolute;
  width: 100%;
  bottom: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.signup {
  margin-top: 20px;
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  color: rgb(241, 178, 178);
  font-size: 16px;
}
.signup:hover {
  text-decoration: underline;
  cursor: pointer;
}
input {
  border-radius: 10px;
  width: 80%;
  margin: 0.5rem;
  background-color: rgb(233, 233, 233);
  padding: 10px;
}
input:focus {
  outline: none;
}
.logout {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 5px;
  z-index: 100;
}
.profile {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 5px;
  z-index: 100;
}

/* WARRIOR */

.warriorImg {
  margin-left: 50px;
  height: 60px;
  width: 40px;
  z-index: 1;
  transform: translateY(50px);
}

.score-hidden {
  display: none;
}
