:root {
  --primary: rgb(190, 136, 37);
  --secondary: rgb(192, 118, 118);
  --dark: rgb(85, 24, 24);
  --light: rgb(239, 241, 243);
  --complimentary: rgb(196, 140, 123);
}
* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
.opaque {
  opacity: 0;
}
p {
  font-family: "Roboto", sans-serif;
  color: white;
}
.backgroundImage {
  position: fixed;
  bottom: -500px;
  width: 100%;
  height: 1000px;
  background-image: url(./img/smoke.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -5;
  opacity: 0.4;
}

/* HEADER */
h1 {
  text-align: center;
  font-size: 8rem;
  color: white;
  font-family: "MedievalSharp", cursive;
}
h2 {
  font-size: 6rem;
  color: rgb(190, 136, 37, 0.8);
  font-family: "MedievalSharp", cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3 {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: "MedievalSharp", cursive;
}
h4 {
  font-size: 2rem;
  color: var(--light);
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-radius: 20px;
  padding-top: 20px;
  box-shadow: rgb(0, 0, 0, 0.7) 0px -4px 4px;
}
h5 {
  font-size: 1.5rem;
  color: white;
  font-family: "MedievalSharp", cursive;
  text-align: center;
}
.shrink-h1 {
  font-size: 3rem;
  padding-top: 20px;
  transition: all 1s ease-in-out;
  color: rgba(214, 214, 214);
  z-index: 1;
}
.header {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  position: absolute;
  height: 95vh;
  padding-bottom: 5rem;
  transition: all 1s ease-in-out;
  background-image: url(./img/background.jpg);
}
.shrink-header {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  height: 8vh;
  transition: all 1s ease-in-out;
  background-image: url(./img/background.jpg);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: ease-in-out 1s;
}

/* BATTLEFIELD */
#battleground {
  margin: auto;
  width: 900px;
  block-size: fit-content;
  height: 700px;
  background-image: url(./img/battleground.jpg);
  background-size: 60%;
  border: solid 10px rgba(0, 0, 0);
  box-shadow: inset 50px 50px 100px rgb(0, 0, 0),
    inset -50px -50px 100px rgb(0, 0, 0);

  z-index: 0;

  margin-top: 30px;
}

/* BUTTONS */
.button {
  box-sizing: border-box;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark);
  color: var(--light);
  font-family: "Montserrat", sans-serif;
  border: none;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  border-radius: 100px;
  margin-top: 5px;
  transition: all ease-out 0.7s;
}
.button:hover {
  box-sizing: border-box;
  background-color: rgba(190, 37, 45, 0.5);
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
#active {
  display: none;
}

/* PROFILE/LOGIN STUFF */
.login-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 350px;
  z-index: 100;
  bottom: 300px;
  opacity: 1;
  transition: ease-in-out 2s;
}
.login-container::before {
  content: "";
  position: fixed;
  top: 100px;
  right: -100px;
  left: -100px;
  bottom: 0px;
  background-image: url(./img/smoke.jpg);
  background-size: 150%;
  background-position: top center;
  opacity: 0.7;
  border-radius: 20px;
  z-index: 1;
  transition: ease-in-out 1s;
  box-shadow: inset black 0px 0px 300px, inset black 10px 10px 300px,
    inset -10px -10px 300px black, inset black 0px 0px 300px,
    inset black 10px 10px 300px, inset -10px -10px 300px black,
    inset black 0px 0px 300px;
}
.login-input {
  z-index: 2;
}
.login-button {
  z-index: 2;
}
.login-info {
  z-index: 2;
}
.username-input {
  position: relative;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.signup {
  margin-top: 20px;
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  color: rgb(241, 178, 178);
  font-size: 16px;
}
.signup:hover {
  text-decoration: underline;
  cursor: pointer;
}
input {
  border-radius: 10px;
  width: 80%;
  margin: 0.5rem;
  background-color: rgb(233, 233, 233);
  padding: 10px;
}
input:focus {
  outline: none;
}
.logout {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 5px;
  z-index: 100;
}
.profile {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 5px;
  z-index: 100;
}
.scoreboard-container {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.scoreboard {
  background-color: rgb(0, 0, 0, 0.8);
  padding: 2rem;
  height: 500px;
  width: 800px;
  margin-top: 20px;
  border-radius: 20px;
}
.score-input {
  width: 30%;
}
.scores {
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: rgb(139, 139, 139, 0.2);
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.score-definitions {
  background-color: rgb(161, 161, 161);
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.play-hidden,
.submit-hidden,
.score-hidden,
.hidden,
.stats-hidden,
.getOut {
  display: none;
  position: absolute;
  left: -1000px;
  height: 0%;
}

.statflex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.stats-box {
  width: 1200px;
  padding: 2rem;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: inset rgb(5, 0, 0) 0px 0px 500px, inset rgb(5, 0, 0) 0px 0px 500px,
    inset rgb(5, 0, 0) 0px 0px 500px, 0px 0px 100px rgba(92, 92, 92, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(2px);
}
.stats-box::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url(./img/kewwwl.jpg);
  background-size: cover;
  background-position: top center;
  opacity: 0.2;
  border-radius: 50px;
  z-index: 1;
  box-shadow: inset black 0px 0px 100px;
}
.each-stat-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: inset rgba(112, 7, 7, 0.2) 0px 0px 50px;
  z-index: 10;
}
.each-stat-container:hover {
  background-color: rgba(255, 136, 0, 0.1);
  box-shadow: inset rgba(0, 0, 0) 0px 0px 100px;
  transition: ease-in-out 1s;
}
.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.next-round {
  margin-top: 20px;
  position: relative;
  z-index: 10;
}
.stat {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  box-shadow: rgb(0, 0, 0, 0.7) 0px 5px 5px;
  flex-wrap: wrap;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  margin: 20px;
}
.ability-point-box {
  display: flex;
  justify-content: center;
}
.no-ability-point-box {
  margin-right: 20px;
  margin-left: 20px;
}

.ability-point {
  width: 40px;
  height: 50px;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255, 0.7));
}
.no-ability-point {
  width: 40px;
  height: 50px;
}
.upgrade-stat {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--dark);
  border: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 2rem;
  height: 2rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 10px;
  box-shadow: inset rgb(5, 3, 3) 0px 1px 10px, 0px 5px 5px rgb(5, 3, 3, 0.2);
}
.upgrade-stat-neg {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--dark);
  border: none;
  margin-left: 2rem;
  margin-right: 0.2rem;
  width: 2rem;
  height: 2rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 10px;
  box-shadow: inset rgb(5, 3, 3) 0px 1px 10px, 0px 5px 5px rgb(5, 3, 3, 0.2);
}
.upgrade-stat:hover {
  background-color: var(--primary);
  transition: ease-in-out 0.5s;
}
.upgrade-stat-neg:hover {
  background-color: var(--primary);
  transition: ease-in-out 0.5s;
}
#health,
#attack-damage,
#attack-speed,
#attack-range,
#movement-speed,
#bomb {
  font-size: 2rem;
  color: var(--complimentary);
  font-family: "Roboto", sans-serif;
}
.login-error {
  color: rgb(201, 46, 46);
  z-index: 1;
}
.signin-error {
  color: rgb(201, 46, 46);
  z-index: 1;
}
